@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

.cls-1 {
    fill: transparent;
}

svg {
    height: inherit;
}

a {
    height: inherit;
}

@media (max-width: 1000px) {
    svg {
        margin-top: .3em;
        height: 70%;
    }
}
